// @keyframes eyesMove-desktop {
//     50% {
//         transform: translateX(15px) translateY(3px);
//     }

//     100% {
//         transform: translateX(0px) translateY(0px);
//     }
// }

// @keyframes eyesMove {
//     50% {
//         transform: translateX(8px) translateY(2px);
//     }

//     100% {
//         transform: translateX(0px) translateY(0px);
//     }
// }

// @keyframes eyesBallMove-desktop {
//     50% {
//         transform: translateY(1px);
//     }

//     100% {
//         transform: translateY(0px);
//     }
// }

// @keyframes eyesBallMove {
//     50% {
//         transform: translateY(-2px);
//     }

//     100% {
//         transform: translateY(-1px);
//     }
// }

// @keyframes bodyMove {
//     25% {
//         transform: translateY(-5px);
//     }
//     50% {
//         transform: translateY(0);
//     }
//     75% {
//         transform: translateY(-5px);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }


.monster__sharp {
    position: relative;
    width: 280px;

    @include media-breakpoint-up(md) {
        width: 427px;
        // width: auto;
    }

    // &:hover>img {
    //     transform: scale(1.05);
    //     opacity: .1;
    //     @include linear;
    // }

    // img {
    //     @include linear;
    // }

    // &:hover>.sharp__eye,
    // .sharp__eyeLeft,
    // .sharp__eyeLeft--black,
    // .sharp__eyeRight,
    // .sharp__eyeRight--black {
    //     animation-play-state: paused;
    // }

    // & > img {
    //     // @include linear;
    //     // animation: sharp 1000ms 500ms ease-in-out alternate infinite;
    //     &:hover {
    //         // transform: translateY(-5px);
    //         animation: bodyMove 600ms ease-in-out alternate infinite;
    //         // transform: scale(1);
    //         // opacity: .9;
    //         // mix-blend-mode: difference;
    //         // @include linear;
    //     }
    // }

    &__eye {
        position: absolute;
        transform: translateY(50%);
        top: 140px;
        left: 96px;
        transform-origin: center;
        // animation: eyesMove 2000ms 500ms ease-in-out alternate infinite;

        @include media-breakpoint-up(md) {
            width: auto;
            left: 150px;
            top: 200px;
            // animation: eyesMove-desktop 2000ms 500ms ease-in-out alternate infinite;
        }
    }

    // &__eyeLeft {
    //     width: 18px;
    //     position: relative;
    //     // left: 20%;
    //     // top: 20%;

    //     @include media-breakpoint-up(md) {
    //         width: auto;
    //         // left: 140px;
    //         // top: 150px;
    //     }

    //     &--black {
    //         position: absolute;
    //         width: 12px;
    //         top: 2px;
    //         left: 0;
    //         animation: eyesBallMove 1000ms 500ms alternate ease-in-out infinite;

    //         @include media-breakpoint-up(md) {
    //             width: auto;
    //             animation: eyesBallMove-desktop 1000ms 500ms alternate ease-in-out infinite;
    //         }

    //     }
    // }

    // &__eyeRight {
    //     width: 18px;
    //     position: relative;

    //     // left: 195px;
    //     // top: 150px;
    //     @include media-breakpoint-up(md) {
    //         width: auto;
    //         // left: 140px;
    //         // top: 150px;
    //     }

    //     &--black {
    //         position: absolute;
    //         width: 12px;
    //         top: 2px;
    //         left: 0;
    //         animation: eyesBallMove 1000ms 500ms alternate ease-in-out infinite;

    //         @include media-breakpoint-up(md) {
    //             width: auto;
    //             animation: eyesBallMove-desktop 1000ms 500ms alternate ease-in-out infinite;
    //         }
    //     }
    // }
}

.monster__round {
    position: relative;
    width: 234px;

    @include media-breakpoint-up(md) {
        width: 386px;
    }

    // @include linear;

    // &:hover>img {
    //     transform: scale(1.05);
    //     opacity: .1;
    //     @include linear;
    // }

    // img {
    //     @include linear;
    // }

    // &:hover>.round__eye,
    // .round__eyeLeft,
    // .round__eyeLeft--black,
    // .round__eyeRight,
    // .round__eyeRight--black {
    //     animation-play-state: paused;
    // }

    // & > img {
    //     @include linear;

    //     &:hover {
    //         transform: scale(1.05);
    //         opacity: .3;
    //         @include linear;
    //     }
    // }

    &__eye {
        position: absolute;
        transform: translateY(50%);
        top: 62px;
        left: 34px;
        transform-origin: center;
        // animation: eyesMove 2000ms 500ms ease-in-out alternate infinite;

        @include media-breakpoint-up(md) {
            width: auto;
            left: 50px;
            top: 105px;
            // animation: eyesMove-desktop 2000ms 500ms ease-in-out alternate infinite;
        }
    }

    // &__eyeLeft {
    //     width: 18px;
    //     position: relative;

    //     @include media-breakpoint-up(md) {
    //         width: auto;
    //     }

    //     &--black {
    //         position: absolute;
    //         width: 12px;
    //         top: 2px;
    //         right: 0;
    //         animation: eyesBallMove 1000ms 500ms alternate ease-in-out infinite;

    //         @include media-breakpoint-up(md) {
    //             width: auto;
    //             animation: eyesBallMove-desktop 1000ms 500ms alternate ease-in-out infinite;
    //         }

    //     }
    // }

    // &__eyeRight {
    //     width: 18px;
    //     position: relative;

    //     @include media-breakpoint-up(md) {
    //         width: auto;
    //     }

    //     &--black {
    //         position: absolute;
    //         width: 12px;
    //         top: 2px;
    //         right: 0;
    //         animation: eyesBallMove 1000ms 500ms alternate ease-in-out infinite;

    //         @include media-breakpoint-up(md) {
    //             width: auto;
    //             animation: eyesBallMove-desktop 1000ms 500ms alternate ease-in-out infinite;
    //         }
    //     }
    // }
}



// @keyframes sharp {

//     50% {
//         transform: translateX(0px) translateY(-5px) rotate(3deg);
//     }
//     100% {
//         transform: translateX(0px) translateY(0px) rotate(0deg);
//     }
// }
.monster__eyeLeft, .monster__eyeRight {
    position: relative;
    // top: 50px;
}

.monster__eyeRight {
    left: 22px;
    @include media-breakpoint-up(md) {
        left: 28px;
    }
}

.monster__eyeLeft--white, .monster__eyeRight--white {
    position: absolute;
    bottom: 50%;
    // transform: translateY(-50%);
    border: 1px solid $dark;
    background: rgba(255, 255, 255, 0.432);
    width: 20px;
    // height: 32px;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
        width: 28px;
        // height: 50px;
    }
    // transform-origin: center;
}
.monster__eyeLeft--black, .monster__eyeRight--black {
    position: absolute;
    bottom: calc(-50% + 2px);
    left: 0;
    background: $dark;
    width: 14px;
    // height: 25px;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
        width: 19px;
        // height: 45px;
    }
    // transform: translateY(-50%);
    // transform-origin: center;
}