.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;  
    z-index: 9998;
    pointer-events: none;
    &>span {
        position: relative;
        flex: 1;
        height: 100%;
        background-color: #fff;
        transform-origin: top;
        transform: scaleY(0);
    }
}
.mouse {
    z-index: 20000;
    width: 55px;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    // background-color: rgb(255, 218, 96);
    // opacity: .7;
    border: 1px solid $primary;

    // background-size: 1600% 1600%;
    position: absolute;
    // mix-blend-mode: hard-light;
    // isolation: isolate;
    // transform: translate3d(0,0,0);
    pointer-events: none;
    transition: 0.1s linear;

    border-radius: 50%;


    // animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}

// @keyframes blobRadius {

//     0%,
//     100% {
//         border-radius: 20% 77% 80% 40% / 40% 40% 80% 80%;
//     }

//     20% {
//         border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
//     }

//     40% {
//         border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
//     }

//     60% {
//         border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
//     }

//     80% {
//         border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
//     }
// }

// @keyframes blobBackground {

//     0%,
//     100% {
//         background-position: 0% 50%;
//     }

//     50% {
//         background-position: 100% 50%;
//     }
// }